/* App.css */
.app {
  display: flex;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  width: 100vw;
  transition: margin-left 0.3s;
}

.sidebar.closed + .main-content {
  margin-left: 80px;
}
